@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Ubuntu:wght@300;400;500&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: rgba(208, 218, 222, 0.5);
}
.page1 {
    background-color: rgb(255, 255, 255);
    padding:5em;
    margin:4% 15%;
    border-radius: 12px;
    display: flex;
    
}

.img {
    margin:-65px;
    border-radius: 9.5px;
    height:493px;
    width: 320px;
}
.sidebar{
    text-transform: uppercase;
    margin-left: -100px;
    margin-top: -40px;
    padding: 3px;
}
.sidebar h4{
    color: #fff;
    font-weight: 600;
    font-size:small ;
    letter-spacing: 2px;
    width: 123px;
    margin-top:1px;
    padding-top:22px;
}
.sidebar h5{
    color: #fff;
    font-weight: 400;
    font-size:x-small;
    opacity: 0.5;
    margin-bottom:-20px ;
}

.info{
    margin: -35px 214px;
    height:395px;
    padding:30px 180px;
    margin-top:-60px;
    margin-left:5px;
}
.info .button{
    margin-left:-20px;
    padding-top: 25px;
}
.info h2{
    color:#003366;
    margin-left:-20px;
    margin-top:10px;
    letter-spacing:1px;
}
.info p{
    opacity: 0.4;
    font-size: small;
    word-spacing: 1.5px;
    width: 400px;
    margin-left:-20px;
    margin-top: -7px;
}
.info #btn{
    padding: 3px;
    height: 30px;
    width: 360px;
    margin: 15px;
    margin-left:-2px;
    margin-top: 3px;
    border-radius: 1ch;
    border-color: rgba(65, 64, 64, 0.148);
    border-width: 1.4px;
}
.info .title{
    color: #003366;
    font-size: x-small;
    margin-bottom: 90px;
}
.info button{
    color: rgb(255, 255, 255);
    background: #003366;
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 13px 19px;
    font-weight:500;
    letter-spacing: 0.6px;
    font-size:15px;
    width: fit-content;
    height: fit-content;
    margin-left: 266px;
}